<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Termékek táblája</h4>
                        <p class="card-category">A cég által árusított termékek listája és azok tulajdonságairól nyilatkozó táblázat.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class=" text-primary">
                                    <tr>
                                        <th *ngFor= "let field of tableFields">
                                            {{ field.title }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let rows of list$ | async">
                                        <td *ngFor= "let cells of tableFields">
                                            <span *ngIf= "!cells.pipeTransform && !cells.htmlIcon">
                                                {{ rows[cells.key] }}
                                            </span>
                                            <span *ngIf= "cells.pipeTransform">
                                                {{ cells.pipeTransform(rows[cells.key]) }}
                                            </span>
                                            <span *ngIf= "cells.htmlIcon" [innerHTML] = "cells.htmlIcon(rows[cells.key])">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  