<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim 
                    </a>
                </li>
                <li>
                    <a href="https://hu.wikipedia.org/wiki/V%C3%A1llalatir%C3%A1ny%C3%ADt%C3%A1si_inform%C3%A1ci%C3%B3s_rendszerek">
                       ERP rendszerek
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, BME, készítette:
            <a href="https://www.facebook.com/porkolab.mercedeszdesszi/" target="_blank">Porkoláb Mercédesz Anett</a> 
        </div>
    </div>
</footer>

